* {
    box-sizing: border-box;
}

body {
    background-color: #FFF9ED;
    color: #9A7655;
    transition: all 2s;
    font-family: 'Eczar', serif;
}

body.switch {
    background-color: rgb(235, 235, 235);
    color: #333;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header {
    margin: 0 auto 2em auto;
}

#banner {
    position: relative;
    display: flex;
    width: 1100px;
    height: 250px;
    margin: auto;
    background-color: rgb(235, 235, 235);
    color: #333;
    overflow: hidden;
    display: grid;
	place-items: center;
}

#banner.switch {
    background-color: #333;
    color: rgb(235, 235, 235);
    transition: all 2s;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
    max-width: 800px;
}

main section {
    width: 20%;
    border: 1px rgb(235, 235, 235) dashed;
    margin: 0.25em;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

main section:first-of-type {
    /* margin-left: 20px; */
}

a {
    text-decoration: none;
}

section nav, #projects nav {
    overflow: hidden;
    margin-bottom: 1em;
}

section nav ol, section nav ul {
    transform: translateY(-350px);
    transition: transform 0.75s ease-in;
}

section h3:hover + nav ol, section h3:hover + nav ul,
section nav ol:hover, section nav ul:hover,
#projects h3:hover + nav ol, #projects ol:hover {
    transform: translateY(-3px);
}
 
h3, ol, ul {
   margin: 0;
   z-index: 2;
}

h3 {
    border: solid 3px #47280B;
    border-radius: 3px;
    width: 160px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
}

 /* {
    overflow: hidden;
} */

#projects ol {
    transform: translateY(-150px);
    transition: transform 0.5s ease-in;
}

#toolkit + nav {
    margin-top: 30px;
}

#projects nav{
    max-height: 130px;
}
#toolkit {
    position: absolute;
    top: 175px;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    height: fit-content;
    background-color: #FFF9ED;
    border: 3px solid #47280B;
}

section li {
    /* padding-left: 1.2em; */
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: #47280B;
}

section a:hover {
    background-color: orange;
    color: #333;
}

section.switch a {
    color: #333;
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
}

#desk {
    position: absolute;
    z-index: -1;
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-color: orange;
    color: #333;
    border: 1px solid transparent;
}

button:hover {
    background-color: coral;
    cursor: pointer;
}

button.switch {
    background-color: rgb(235, 235, 235);
    border-color: #333;
}

button.switch:hover {
    background-color: #333;
    color: rgb(235, 235, 235)
}

