* {
    box-sizing: border-box;
}

body {
    background-color: #FFF9ED;
    color: #9A7655;
    transition: all 2s;
    font-family: 'Eczar', serif;
    max-height: 750px;
}

body.switch {
    background-color: #666666;
    color: #E6E6E6;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2%;
    /* max-height: 650px; */
}

/* Header styling */
header {
    margin: 0 auto 0 auto;
    max-width: 800px;
    position: relative;
}

h1, h2 {
    margin: 0;
    margin-left: 40px;
}

#banner {
    position: relative;
    display: flex;
    width: 800px;
    height: 255px;
    margin: auto;
    /* background-color: rgb(235, 235, 235); */
    color: #333;
    overflow: hidden;
    display: grid;
	place-items: center;
}

#banner.switch {
    color: rgb(235, 235, 235);
    transition: all 2s;
}

/* desktop items */
#desktop {
    margin: 0 auto 0 auto;

    width: 800px;
    height: 60px;
    position: relative;
}


img {
    filter: saturate(90%);
}
.switch img{
    filter: grayscale(10%) brightness(70%);
    transition: filter 0.5s ease;
}

#headphones img{
    height: 130px;
}
#plant img {
    height: 100px;
}
#climbing img, #books img {
    height: 90px;
}

#headphones, #plant, #books {
    position: absolute;
    bottom: -22px;
}

#plant {
    bottom: 18px;
    right: 185px;
}

#books {
    right: 50px;
}

#headphones {
    left: 100px;
}

#climbing {
    position: absolute;
    bottom: 3px;
    left: -18px;
}



/* Main body styling */
main {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    margin: 1em auto;
    max-width: 800px;
    height: 308px;
    /* bottom: 0px; */
}

main section {
    width: 20%;
    /* border: 1px rgb(235, 235, 235) dashed; */
    margin: 0.25em;
    padding: 1.4em 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: relative;
}

main section:first-of-type {
    margin-left: 6px;
}

a {
    text-decoration: none;
}

section .drawer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    border: solid 3px #47280B;
    /* background-color: #FFF9ED; */
    border-radius: 3px;
    width: 160px;
    height: 60px;
    padding-top: 5px;
    cursor: pointer;
}

.switch section .drawer, .switch .handle {
    border-color: #E6E6E6;
}

.switch section .drawer:hover .handle {
    background-color: #E6E6E6;
}

section .handle {
    width: 50px;
    height: 10px;
    border: solid 3px #47280B;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}

.drawer:hover .handle {
    background-color: #47280B;
}

.drawer:hover h3 {
    color: #47280B;
}

.switch .drawer:hover h3 {
    color: #E6E6E6;
}

section nav, #projects nav {
    overflow: hidden;
    position: absolute;
    bottom: 58px;
    width: 150px;
    pointer-events: none;
}

section nav ol, section nav ul {
    position: relative;
    min-height: 80px;
    transform: translateY(375px);
    transition: transform 0.65s ease-in;
}

#projects .drawer nav ol, #projects .drawer ol {
    transform: translateY(150px);
    transition: transform 0.4s ease-in;
}


.drawer:hover nav ol, .drawer:hover nav ul,
.drawer ol:hover, .drawer ul:hover,
#projects .drawer:hover nav ol, #projects .drawer:hover ul {
    transform: translateY(0px);
    z-index: 2;
}

.drawer:hover nav {
    padding-bottom: 10px;
    pointer-events: all;
}

#projects .drawer:hover nav {
    padding-bottom: 15px;
}



h3, ol, ul {
   margin: 0;
   z-index: 1;
}

h3 {
    text-align: center;
}

#projects nav{
    max-height: 136px;
    bottom: 56px;
}

#projects .drawer:last-of-type {
    margin-bottom: 5px;
}

#projects .drawer:hover nav {
    pointer-events: all;
}


.drawer:hover #toolkit ~ nav {
    padding-bottom: 50px;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    height: fit-content;
    background-color: #FFF9ED;
    border: 3px solid #47280B;
}

.switch ol, .switch ul {
    background-color: #666;
    border: 3px solid #FFF9ED;
}



main section li a, footer a {
    line-height: 1.1em;
    display: inline-block;
    margin: .5em;
    margin-bottom: 5px;
    color: #9A7655;
    box-sizing: content-box;
    border-bottom: 3px solid #47280b00;
    transition: 
        color 0.5s ease,
        border-color 0.5s ease;
}

.switch main section li a, .switch footer a{
    border-bottom: 3px solid #FFF9ED00;
    color: #e6e6e6;

}

main section li a:hover, footer a:hover {
    border-color: #47280Bff;
    color: #47280B;
}

.switch main section li a:hover, .switch footer a:hover {
    border-bottom: 3px solid #e6e6e6FF;
}

main section.switch li a, .switch footer a {
    color: #e6e6e6;
}

#desk {
    position: absolute;
    /* bottom: -37px; */
    z-index: -1;
}

label#toggle {
    position: absolute;
    top: 20px;
    right: 40px;
    padding: 12px;
}

label#toggle:hover {
    cursor: pointer;
}

#toggle {
    position: relative;
    width: 62px;
    height: 36px;
  }
  
  /* Hide default HTML checkbox */
  #toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border: #47280B 3px solid;
    background: no-repeat center/40px;
    background-image: url(images/toggleBtn.png);
    background-position: 4px 0px;
    border-radius: 34px;
    background-size: 95%;
  }

  .light + .slider {
    border-color: #47280B;
  }
  .dark + .slider {
    border-color: #e6e6e6;
  }
  .light + .slider:before {
    background-color: #47280B;
  }
  .dark + .slider:before {
    background-color: #e6e6e6;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2.1px;
    bottom: 2.15px;
    background-color: #47280B;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  
  /* Footer Styling */
  footer {
    position: aboslute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px
  }